<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>

    <!--head common fragment-->
    <th:block th:replace="~{fragments/fragment_head_common :: head_common}"></th:block>

    <title th:text="#{navigation.manageAppointments}"></title>

</head>
<body>

    <!--fragment navbar-->
    <div th:replace="~{fragments/fragment_navbar :: fragmentNavbar}"></div>

    <main class="container my-4">

        <!--header-->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 th:text="#{navigation.manageAppointments}">Appointments</h2>
        </div>

        <!--flash success message, only show if exists-->
        <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="#{${message}}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!--flash error message, only show if exists-->
        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="#{${errorMessage}}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!--checking if the list is empty to display a message -->
        <div th:if="${#lists.isEmpty(listAppointments)}" class="alert alert-info text-center">
            <span th:text="#{customer.appointment.empty}">No appointments booked yet.</span>
        </div>

        <!--only if the list is not empty will show the appointments-->
        <div th:if="${!#lists.isEmpty(listAppointments)}">

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <!--table header-->
                    <thead class="table-dark">
                    <tr>
                        <th th:text="#{appointment.id}">Id</th>

                        <th th:text="#{appointment.customerName}">Customer Name</th>
                        <th th:text="#{appointment.customerEmail}">Customer Email</th>

                        <th th:text="#{appointment.service}">Service</th>
                        <th th:text="#{page.appointment.date}">Date</th>
                        <th th:text="#{page.appointment.time}">Time</th>
                        <th th:text="#{page.appointment.notes}">Notes</th>
                        <th th:text="#{page.appointment.status}">Status</th>
                        <th th:text="#{page.appointment.actions}">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--table rows, getting listServices from the controller-->
                    <tr th:each="appointment : ${listAppointments}">

                        <td th:text="${appointment.id}"></td>

                        <td th:text="${appointment.customer.fullName}"></td>
                        <td th:text="${appointment.customer.email}"></td>

                        <td th:text="${appointment.service.name}"></td>
                        <td th:text="${#temporals.format(appointment.date, 'dd/MM/yyyy')}"></td>
                        <td th:text="${appointment.timeSlot}"></td>
                        <td th:text="${appointment.notes}"></td>
                        <td th:text="${appointment.status}"></td>

                        <!--actions-->
                        <td>
                            <div class="d-flex align-items-center justify-content-center gap-2 flex-nowrap">
                                <!--cancel appointment, only available if status is booked-->
                                <!--href is blank because it will be set on showCancelModal function on the modal yes button-->
                                <!--i'm also passing the link with the id as attribute data-url-->
                                <a th:if="${appointment.status != null and appointment.status.name == 'BOOKED'}"
                                   th:title="#{actions.cancel}"
                                   href="#"
                                   th:attr="data-url=@{'/admin/appointment/cancel/' + ${appointment.id}}"
                                   onclick="showCancelModal(this); return false;">
                                    <i class="fa-regular fa-rectangle-xmark fa-2x icon-red"></i>
                                </a>

                                <!--mark as completed, only available if status is booked-->
                                <a th:if="${appointment.status != null and appointment.status.name == 'BOOKED'}"
                                   th:title="#{actions.markAsComplete}"
                                   href="#"
                                   th:attr="data-url=@{'/admin/appointment/complete/' + ${appointment.id}}"
                                   onclick="showCompleteModal(this); return false;">
                                    <i class="fa-solid fa-check fa-2x icon-green"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- hidden elements just to store the tranlsated messages -->
        <span id="msgCancelConfirm" th:text="#{confirm.cancelAppointment}" style="display:none;"></span>
        <span id="msgCompleteConfirm" th:text="#{confirm.completeAppointment}" style="display:none;"></span>

        <!-- confirmation modal -->
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{modal.confirmation.title}">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <span id="confirmText"></span>
                    </div>
                    <div class="modal-footer">
                        <form id="confirmForm" method="post" action="">
                            <!--i need to manually add the csrf hidden field because the form has no action, so thymeleaf won't add it automatically-->
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <button type="submit" class="btn btn-success">
                                <span th:text="#{actions.yes}">Yes</span>
                            </button>
                        </form>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                            <span th:text="#{actions.no}">No</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!--fragment footer-->
    <div th:replace="~{fragments/fragment_footer :: fragmentFooter}"></div>

    <!--fragment scripts (bootstrap)-->
    <th:block th:replace="~{fragments/fragment_scripts :: bootstrap_scripts}"></th:block>

    <script>
        //show cancel confirmation modal
        function showCancelModal(link) {

            /*getting the data-url attribute*/
            const url = link.getAttribute("data-url");

            /*getting the translated message from the hidden span*/
            const confirmMessage = document.getElementById("msgCancelConfirm").innerText;

            /*put the translated message and the name of the service to the modal*/
            document.getElementById("confirmText").innerText = confirmMessage;

            /*set the action of the modal yes button*/
            document.getElementById("confirmForm").setAttribute("action", url);

            /*show modal*/
            const modal = new bootstrap.Modal(
                document.getElementById("confirmModal")
            );
            modal.show();
        }

        //show complete confirmation modal
        function showCompleteModal(link) {

            /*getting the data-url attribute*/
            const url = link.getAttribute("data-url");

            /*getting the translated message from the hidden span*/
            const confirmMessage = document.getElementById("msgCompleteConfirm").innerText;

            /*put the translated message and the name of the service to the modal*/
            document.getElementById("confirmText").innerText = confirmMessage;

            /*set the action of the modal yes button*/
            document.getElementById("confirmForm").setAttribute("action", url);

            /*show modal*/
            const modal = new bootstrap.Modal(
                document.getElementById("confirmModal")
            );
            modal.show();
        }

    </script>

</body>
</html>